<style>
    strong {
        font-size: 1.2em;
        color: #333;
    }
    
    p {
        font-size: 1em;
        color: #666;
    }
</style>

{% extends "base.html" %}
{% block content %}
<br/>
<h1>Chemical Database</h1>
<br/>
{% for chem in all %}
    <div>
        <strong>{{ chem.labitemname }}</strong>
        <p>Type: {{ chem.labitemtype }}</p>
        <p>Subtype: {{ chem.labitemsubtype }}</p>
        <p>ID: {{ chem.labitemid }}</p>
        <p>Additional fileds: {{ chem.json_data}}</p>
        {% if chem.documents %}
        <img src = "{{ chem.documents.url }}" style="width: 5vw; min-width: 33px;">
        {% endif %}

    </div>
{% endfor %}
{% endblock %}
