{% extends "base.html" %}
{% block content %}
<h1>Index</h1>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="labitemtype">Lab Item Type:</label>
      <select class="form-control" id="labitemtype" name="labitemtype" onchange="this.form.submit()">
        <option value="">Select Lab Item Type</option>
        {% for chem in all %}
        <option value="{{ chem.labitemtype }}" {% if selected_type == chem.labitemtype %}selected{% endif %}>{{ chem.labitemtype }}</option>
        {% endfor %}
      </select>
    </div>
    
    {% for key, value in additional_fields.items %}
    <div class="mb-3">
      <label for="{{ key }}">{{ key }}:</label>
      <input type="text" class="form-control" id="{{ key }}" name="{{ key }}">
    </div>
    {% endfor %}
    
    <button type="submit">Submit</button>
  </form>



{% endblock %}
